body
{
    background-image: url(Images/Techno\ Background.jpg);
    background-size: cover;
}

#sectionIcons
{
    display: flex;
    justify-content: space-evenly;
}

#sectionIcons img
{
    margin-top: 100%;
    height: 15vw;
}